/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=JetBrains+Mono:ital,wght@0,300;0,700;1,300;1,700&family=DM+Serif+Display:ital@0;1&display=swap');


$font-family-sans-serif: "Inter", Helvetica, sans-serif !default;
$font-family-monospace: "JetBrains Mono", monospace !default;
$presentation-heading-font: "DM Serif Display", serif, !default;
$presentation-h1-font-size: 3em;
$presentation-h2-font-size: 1.9em;

// name, color1, color2, text-color
$section-styles:
  "aqua"   "#00aadd" "#66dd00" "#16365a",
  "sunset" "#c21500" "#ffc500" "#4b1625",
  "carbon" "#222222" "#444444" "#222222",
  "moss"   "#134E5E" "#71B280" "#0b2c36",
  "indigo" "#4776E6" "#8E54E9" "#152447";

/*-- scss:rules --*/

.reveal {
  
  ul {
    list-style: inherit;
  }

  .slide.hcenter {
    text-align: center;
  }

  p, li {
    color: #464f59;
  }

  .footer a {
    color: #464f59;
  }

  /* cover slide */

  .slides section:first-child {
    h1 {
      font-weight: 800;
      background: linear-gradient(45deg, #5d14c3, #ab0b48);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
    
    h3 {
      font-weight: normal;
      font-style: normal;
      color: #410e89;

    }

    .authorbox {
      margin-top: 50px;
      font-size: 60%;
      color: #5d14c3;
    }
  }
  

  .hl {
    background-color: #00002218;
    padding: 0.1em 0.25em;
    font-weight: bold;
  }

  pre.sourceCode code.sourceCode {
    background-color: #f7fafc;
  }

  /* utility */

  .small {
    font-size: 70%;
    opacity: 0.7;
  }

  // image captions
  .slide img.r-stretch + p.caption {
    text-transform: uppercase;
    opacity: 0.7;
  }

  /* ennumerated section styles */

  @each $name, $color1, $color2, $body-color in $section-styles {
  
    section.stack:has(.section-#{$name}) {

      .section-#{$name} h1 {
        color: white;
      }

      p, li {
        color: #{$body-color};
      }

      strong {
        filter: brightness(90%) contrast(150%);
      }

      h1, h2, h3 {
        background: linear-gradient(45deg, #{$color1}, #{$color2});
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }

    }

  }

}
